body { 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    overflow-x: hidden ;
    height: 100vh;
}

.editor {
    width: 100%;
    margin: 25px 25px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    justify-self: stretch;
    flex: 1 1 0%;
}

input {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
    width: -webkit-fill-available;
}
.menu {
    margin: 25px 25px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .header {
    display: flex;
    width: 100vw;
    margin-bottom: 20px;
  }

  #myForm {
    width: 270px;
  }


  #load {
    padding:  10px 20px;
    font-size: larger;
    display: block;
    margin: 10px auto;
    color: white;
    border: 0px;
    border-radius: 10px;
    background-color: #4CAF50;
  }

  #style, #model {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.2em;
  }

  label {
    font-size: 1.2em;
    margin: 10px 0px;
    display: block;
  }


  .toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    border-radius: 10px;
    z-index: 10;
  }
  
  #toggle {
    /* display: none; */
    width: 60px;
    height: 34px;
  }
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: .4s;
    border-radius: 100px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    transition: .4s;
    border-radius: 100px;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000; 
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }


  @media(max-width: 768px) {
    .editor {
        margin: 10px;
    }
    .header {
        flex-direction: column;
        min-height: 150vh;
    }
  }


  #uploadContainer {
    margin-bottom: 20px;
}
/* #uploadContainer label {
    display: block;
    margin-bottom: 5px;
} */
#uploadPdbContainer input[type="file"] {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ddd;
    width: calc(100% - 115px);
    display: inline-block;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}